body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
}

header {
    background-color: #5A8D97;
    color: #fff;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;

}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

nav a:hover {
    color: #ccc;
}

.main-content {
    max-width: 800px;
    margin: 70px auto 120px; /* Adjusted margin-top and added margin-bottom */
}

.ads-section,
.courses-section {
    margin-bottom: 30px;
}

.ads-section {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

.courses-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.course {
    border: 1px solid #ddd;
    padding: 15px;
    width: calc(50% - 20px);
    box-sizing: border-box;
}

footer {
    background-color: #5A8D97;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
