{% extends 'Account/base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% if user.is_authenticated  %}
    
       {% block title %}
        {% if user.is_student %} 
            {{ user.username }} - Student 
        {% elif user.is_teacher %}
            {{ user.username }} - Teacher
        {% endif %} 
    {% endblock %}
        

{% block body %}
    <h2>Hello, {{ user.first_name }}!</h2>
    <a href="{% url 'account:logout' %}">logout</a>
{% endblock %}
{% endif %}