{% extends 'social/base.html' %}
{% block title %} {{ post.title }} - Post Detail {% endblock %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/post-detail.css' %}">
    <style>
        .like-button {
            color: {% if user in post.likes.all %}blue{% else %}
                black{% endif %}; /* Highlight like button if user has liked */
        }
    </style>
{% endblock %}

{% block body %}
    <div class="content-container">
        <section class="post-detail-section">
            <div class="post-card">
                <div class="post-header">
                    <div class="user-icon">{{ post.author.first_name.0 }}{{ post.author.last_name.0 }}</div>
                    <div class="user-info-details">
                        <div class="user-info">
                            <a href="{% url 'account:profile' username=post.author.username %}">
                                <h3 class="full-name">{{ post.author.first_name }} {{ post.author.last_name }}</h3>
                            </a>
                            <p class="post-date">{{ post.created|date:"F j, Y, g:i a" }}</p>
                        </div>
                    </div>
                </div>

                <div class="post-content">
                    <h1>{{ post.title }}</h1>
                    <p>{{ post.text }}</p>
                </div>
                {% if post.photos.all %}
                    <div class="photo-gallery">
                        {% for photo in post.photos.all %}
                            <img src="{{ photo.image.url }}" alt="{{ post.title }} Poster" width="300" height="300">
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="post-footer">
                    <p class="like-count">{{ post.total_likes }} Like{{ post.total_likes|pluralize }}</p>
                    <!-- Display total likes count -->
                    <p class="share-count">{{ post.shares.count }} Share{{ post.shares.count|pluralize }}</p>
                    <!-- Display total share count -->
                    <form method="post" action="{% url 'social:like_post' post.pk %}">
                        {% csrf_token %}
                        <button type="submit" class="like-button">Like</button> <!-- Like button -->
                    </form>
                    <form method="post" action="{% url 'social:share_post' post.pk %}">
                        {% csrf_token %}
                        <button type="submit" class="share-button">Share</button> <!-- Share button -->
                    </form>
                    <p class="comment-count">{{ comments.count }} Comment{{ comments.count|pluralize }}</p>
                </div>

                <div>
                    {% for comment in comments %}
                        <div class="comment">
                            <div class="user-icon">
                                {{ comment.user.first_name.0 }}{{ comment.user.last_name.0 }}</div>
                            <div class="comment-content">
                                <div class="user-info">
                                    <a href="{% url 'account:profile' username=comment.user.username %}">
                                        <h3 class="full-name">{{ comment.user.first_name }} {{ comment.user.last_name }}</h3>
                                    </a>
                                    <p class="comment-date">{{ comment.created|timesince }}</p>
                                </div>
                                <p>{{ comment.text }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="form-container">
                    <form method="post">
                        {{ form.as_p }}
                        {% csrf_token %}
                        <button type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
