
{% extends 'social/base.html' %}

{% block body %}
  <h2>Chat</h2>
  <div id="chat"></div>

  <script>
    const chatSocket = new WebSocket('ws://' + window.location.host + '/ws/social/');

    chatSocket.onmessage = function (e) {
      const data = JSON.parse(e.data);
      document.querySelector('#chat').innerHTML += '<br>' + data.message;
    };

    chatSocket.onclose = function (e) {
      console.error('Chat socket closed unexpectedly');
    };

    function sendMessage(message) {
      chatSocket.send(JSON.stringify({
        'message': message
      }));
    }
  </script>
{% endblock %}
